<!-- About Section -->
<div class="section-heading">
	<div class="container">
		<div class="row">
			<div class="col-md-6 col-xs-10">
				<h2>blog</h2>
					<p class="article-h2-content">My blog posts can be found on Medium. You can check them out below.</p>
			</div>
		</div>
	</div>
</div>

<!-- blog -->
<div class="content content-blog">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
							{{#if hasError}}
								<div>
									{{error}}
								</div>
							{{else}}
								{{#each blogs}}
									<div class="blog-title-container">
										<h4><a href="{{link}}">{{title}}</a></h4>
										<p class="blog-title-container__caegories">
											{{#each categories}}
												{{this}} {{#unless @last}}/{{/unless}}
											{{/each}}
										</p>
										<p class="blog-title-container__pubDate">{{pubDate}}</p>
									</div>
								{{/each}}
							{{/if}}
            </div>
        </div>
    </div>
</div>
